
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263238;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    margin: 0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
}

/* Formulário */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #009688;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #00796b;
}
