* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263238;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    margin: 0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
}

header h1 a{
    color: #white;
    text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-box {
  width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.forget-password-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forget-password-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forget-password-box .buttons {
  display: flex;
  justify-content: space-between;
}

.forget-password-box .buttons.single {
  justify-content: center;
}

.forget-password-box button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #009688;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forget-password-box .buttons.single button {
  width: 100%;
}

.forget-password-box button:hover {
  background-color: #00796b;
}


