* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

header h1 {
  color: #007bff; /* Azul */
  font-size: 24px;
  margin-left: 40px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box .buttons {
  display: flex;
  justify-content: space-between;
}

.login-box .buttons.single {
  justify-content: center;
}

.login-box button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-box .buttons.single button {
  width: 100%;
}

.login-box button:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

